<div class="container">
  <div class="row pb-5 pt-2">

    <div class="col-lg-2 col-md-12 text-center">
      <%= render "public/searches/genre_sidebar", genres: @genres %>
    </div>

    <div class="col-md-10">
      <h3>
        商品一覧
        <span style="font-size:20px;"></span>
      </h3>

      <%= render "public/items/index", items: @items %>
    </div>

  </div>
</div>
